<h1>Trains#index</h1>




<h1>All Trains</h1>

<table border="2", color ="white">
  <thead>
    <tr>
      <th>Train Name</th>
      <th>Train Number</th>
      <th>Source</th>
      <th>Destination</th>
      <th>Book Ticket</th>
    </tr>
  </thead>
  <tbody>
    <% @trains.each do |train| %>
    <tr>
      <td><%= train.name %></td>
      <td><%= train.train_number %></td>
      <td><%= train.source %></td>
      <td><%= train.destination %></td>
      <td><%= link_to 'click', new_train_ticket_path(train) %></td>
    </tr>
    <% end %>
  </tbody>
</table>