<p id="notice"><%= notice %></p>

<h3>Update User Details</h3>
<%= form_with model: @user do |form| %>
  <%= form.text_field :name, placeholder: "Name" %>
  <%= form.text_field :contact_number, placeholder: "Contact Number" %>
  <%= form.text_field :address, placeholder: "Address" %>
  <%= form.text_field :type, placeholder: "Role" %>
  <%= form.text_field :role_description, placeholder: "Description" %>
  <%= form.submit %>
<% end %>

<h4>Create New user :-  <%= link_to 'New user', new_user_path %></h4>