<p id="notice"><%= notice %></p>

<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Update User Details</h3>

<pre><%= link_to 'Add User', new_user_path %>                   <%= link_to 'Home Page',users_path %></pre>

<p><pre><%= form_with model: @user do |form| %>
Name:-           <%= form.text_field :name, placeholder: "Name" %><br>
Email:-          <%= form.text_field :email, placeholder: "Email" %><br>
Phone Number:-   <%= form.text_field :contact_number, placeholder: "Contact Number" %><br>
Address:-        <%= form.text_field :address, placeholder: "Address" %><br>
Date Of Birth:-  <%= form.text_field :date_of_birth, placeholder: "DOB" %><br> 
Gender:          <%= form.select :gender, ["Male", "Female", "Other"] %><br> 
            <%= form.submit %>
<% end %>
</pre>
</p>
