<p><%= button_to( "Log Out", destroy_welcome_session_path, method: :delete ) %> <br><%= link_to 'Add Member', new_user_path %>  </p>
 <p id="notice"><%= notice %></p>

<h1>All Members of <%= current_welcome.username%></h1>
 
<table border="2", color ="white">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Address</th>
      <th colspan="3">Operations</th>
      <!-- <th ></th> -->
    </tr>
  </thead>

  <tbody>
    <tr>
        <td><%= current_welcome.username %></td>
        <td><%= current_welcome.email %></td>
        <td><%=  %></td>
        <td><%=  %></td>
        <td><%=  %></td>
        <td><%=  %></td>
        <td><%=  %></td>

    </tr>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.contact_number %></td>
        <td><%= user.address %></td>
        <td><%= link_to 'Show', user_path(user) %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= button_to( "Remove", user_path(user), method: :delete) %></td>
        <!-- <td><%#= button_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

