<p id="notice"><%= notice %></p>

<h4><%= link_to 'Edit', edit_user_path %>  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <%= link_to 'Back', users_path %></h4>

<p> Name :-  <%= @user.name %></p>
<p> Contact Number :-  <%= @user.contact_number %></p>
<p> Address :-  <%= @user.address %></p>
<p> Role :-  <%= @user.type %></p>
<p> Role Description :-  <%= @user.role_description %></p>

