<style>
  h3{
      text-align: center;
      color: #007bff;
    }
</style>
<div class="card text-center">
  <div class="card-header">
    <h1>View <%= @train.name %> Bookings</h1>
  </div>
  <%@total_price = 0%>
  <div class="card-body">
    <% if @train.tickets.present? %>
      <h3>Total Tickets </h3>
      <div class="table-responsive">
        <table border="2", class="table table-bordered table-striped">
          <thead>
            <tr>
                <th>From</th>
                <th>To</th>
                <th>Train number</th>
                <th>Train name</th>
                <th>Book Date</th>
                <th>Price</th>
                <th colspan="1">See Ticket</th>
            </tr>
          </thead>
          <tbody>
            <% @train.tickets.each do |ticket| %>
              <tr>
                  <td><%= @train.source %></td>
                  <td><%= @train.destination %></td>
                  <td><%= @train.train_number %></td>
                  <td><%= @train.name %></td>
                  <td><%= ticket.book_date %></td>
                  <td><%= ticket.price %></td>
                  <td><%= link_to 'Details', train_ticket_path(@train,ticket), class: "btn btn-info" %>
                  </td>
                  <% @total_price += ticket.price %>
              </tr>
            <% end %>
          </tbody>
        </table>
        <p><strong> Total Tickets = </strong> <%= @train.tickets.count %> </p>
        <p><strong>Total Price = </strong> <%= @total_price %></p>
      </div>
    <% else %>
      <h3> You have no Tickets.</h3>
      <p><strong> Total Tickets = </strong> <%= @train.tickets.count %> </p>
      <p><strong>Total Price = </strong> <%= @total_price %></p>
    <% end %>
  </div>
</div>
