<style>
  h3{
      text-align: center;
      color: #007bff;
    }
</style>
<div class="card text-center">
  <div class="card-header">
    <h1>View <%= @train.name %> Bookings</h1>
  </div>
  <div class="card-body">
    <% if @train.tickets.present? %>
      <h3>Total Tickets - <%= @train.tickets.count %> </h3>
      <div class="table-responsive">
        <table border="2", class="table table-bordered table-striped">
          <thead>
            <tr>
                <th>From</th>
                <th>To</th>
                <th>Train number</th>
                <th>Train name</th>
                <th>Book Date</th>
                <th>Price</th>
                <th colspan="1">Click Any Operations</th>
            </tr> 
          </thead>
          <tbody>
            <% @train.tickets.each do |ticket| %>
              <tr>
                  <td><%= @train.source %></td>
                  <td><%= @train.destination %></td>
                  <td><%= @train.train_number %></td>
                  <td><%= @train.name %></td>
                  <td><%= ticket.book_date %></td>
                  <td><%= ticket.price %></td>
                  <td>
                    <%= link_to 'Details', train_ticket_path(@train,ticket), class: "btn btn-info" %>                    
                  </td>
                  <td>                    
                    <%#= button_to( "Remove Ticket", train_ticket_path(@train,ticket), method: :delete) %>                    
                  </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <p>You have no tickets.</p>
    <% end %>
  </div>
</div>
