<!DOCTYPE html>
<html>
<head>
    <title>Book Ticket</title>
    <style>
        html, body {
            height: 100%;
        }

        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background-color: #f8f8f8;
        }

        .form-container {
            text-align: center;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            max-width: 400px; 
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        }

        h3 {
            color: #007bff; 
            margin-bottom: 20px; 
        }

        label {
            display: block;
            margin-bottom: 5px;
            color: #555;
        }

        input[type="text"] {
            padding: 10px;
            width: 100%;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 15px;
            color: #333;
        }

        input[type="submit"] {
            background-color: #007bff;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            width: 100%;
        }
        .form-wrapper {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        li a:hover {
      background-color: yellow;
    }

    </style>
</head>
<body>
    <div class="form-wrapper">
    <div class="form-container">
        <h3>Book Ticket</h3>

        <%= form_with model: [@train, @ticket] do |form| %>
            <label for="train_source">From:</label>
            <%= form.text_field :source, value: @train.source, readonly: true %>

            <label for="train_destination">To:</label>
            <%= form.text_field :destination, value: @train.destination, readonly: true %>

            <label for="ticket_book_date">Book Date:</label>
            <%= form.text_field :book_date, value: Time.now, readonly: true %>

            <label for="train_name">Train Name:</label>
            <%= form.text_field :name, value: @train.name, readonly: true %>

            <label for="train_train_number">Train Number:</label>
            <%= form.text_field :train_number, value: @train.train_number, readonly: true %>

            <label for="ticket_user_id">User Id:</label>
            <%= form.text_field :user_id, value: @user, readonly: true %>

            <%= form.submit "Confirm Ticket" %>
        <% end %>
    </div>
    </div>
</body>
</html>
