<h1>Tickets#show</h1>

<p><%= button_to( "Log Out", destroy_welcome_session_path, method: :delete ) %></p>
<p><%= link_to 'Regenrate Ticket', new_train_ticket_path %></p>
<h2>Ticket Details</h2>

<p><strong>From:</strong> <%= @train.source %></p>
<p><strong>To:</strong> <%= @train.destination %></p>
<p><strong>Train name:</strong> <%= @train.name %></p>
<p><strong>Train number:</strong> <%= @train.train_number %></p>
<p><strong>book_date:</strong> <%= @ticket.book_date %></p>
<p><strong>Price:</strong> <%= @ticket.price %></p>

<!-- <p><%#= link_to "Payment"%></p> -->