<style>
  h3{
      text-align: center;
      color: #007bff;
    }
</style>
<div class="card text-center">
  <div class="card-body">
    <% if @tickets.present? %>
      <h3>All Tickets </h3>
      <div class="table-responsive">
        <table border="2", class="table table-bordered table-striped">
          <thead>
            <tr>
                <th>Book Date</th>
                <th>Price</th>
                <th>Train Id</th>
                <th colspan="1">Click Any Operations</th>
            </tr> 
          </thead>
          <tbody>            
            <% @tickets.each do |ticket| %>
              <tr>
                <td><%= ticket.book_date %></td>
                <td><%= ticket.price %></td>
                <td><%= ticket.train_id %></td>
                <td>
                  <%= link_to 'Ticket Details', train_ticket_path(ticket.train_id,ticket), class: "btn btn-info" %> 
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <p><strong> Total Tickets = </strong> <%= @tickets.count %> </p>
      </div>
    <% else %>
      <h3>Not One Booked Any Tickets</h3>
      <p><strong> Total Tickets = </strong> <%= @tickets.count %> </p>
    <% end %>
  </div>
</div>

