<div class="container my-3">
  <%= form_with model: @metro_s, local: true do |f| %>
    <%= f.label :source,"Enter Starting City" %>
    <%= f.text_field :source, class: 'form-control', required: true %><br>
    <%= f.label :destination, "Enter Destination City" %>
    <%= f.text_field :destination, class: 'form-control', required: true %><br>
    <%= f.submit "Save Metro Route", class: "btn btn-primary" %>
    <%= link_to "Back", :back ,class:"btn btn-primary"%>
  <% end %>
</div>