<style>
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #f2f2f2;
  }

  .btn-group {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
  }

  .btn {
    padding: 6px 12px; 
    border-radius: 4px;
    font-size: 12px; 
    cursor: pointer;
  }

  .btn-primary {
    background-color: #007bff;
    color: #fff;
  }

  .btn-danger {
    background-color: #dc3545;
    color: #fff;
  }

  .digg_pagination {
    text-align: center; 
    margin-top: 20px; 
  }

  .digg_pagination a,.digg_pagination span,.digg_pagination em {
    display: inline-block;
    margin-right: 1px;
  }

  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; 
  }

  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; 
  }

  .digg_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; 
  }

  .digg_pagination a:hover, .digg_pagination a:focus {
    color: #000033;
    border-color: #000033; 
  }

  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; 
    margin: 0 auto; 
    display: inline-block;
  }

  .digg_pagination .page_info b {
    color: #000033;
    background: #6aa6ed;
    padding: 0.1em 0.25em;
  }

  .digg_pagination:after {
    content: ".";
    display: none;
    height: 0;
    clear: both;
    visibility: hidden; 
  }

</style>

<h2>Welcome to Our Metro Booking Service</h2>
<%= render partial: 'form_search' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Source</th>
      <th>Destination</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <% @metro_services&.each do |metro| %>
    <tr>
      <td><%= metro.source %></td>
      <td><%= metro.destination %></td>
      
      <% if current_user&.role == "Admin" %>
      <td>
        <div class="btn-group" role="group">
          <%= link_to('Update Route', edit_metro_service_path(metro.id), class: "btn btn-primary") %>
          <%= link_to('View Trains', metro_service_trains_path(metro.id), class: "btn btn-primary") %>
          <%= button_to("Delete Route", metro_service_path(metro.id), method: :delete, class: "btn btn-danger") %>
        </div>
      </td>
      <% else %>
      <td>
        <%= link_to 'View Trains', metro_service_trains_path(metro.id), class: "btn btn-primary" %>
      </td> 
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
<div class="digg_pagination">
  <%= will_paginate @metro_services, :container => false %><br>
  <div class="page_info">
    <%= page_entries_info @metro_services %>
  </div>
</div>