<!DOCTYPE html>
<html>
<head>
  <title>Your Page Title</title>
  <style>

    table {
      width: 100%;
      border-collapse: collapse;
    }

    th, td {
      padding: 10px;
      text-align: center;
    }

    th {
      background-color: #333;
      color: white;
    }

    h1 {
      text-align: center;
      color: blue ;
    }

    p{
      text-align: center;
    }

    ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      /* background-color: #333; */
      display: flex;
      justify-content: space-between;
      align-items: center;
    } 

    li {
    /* float: left; */
      display;'flex';
      justify-content:center;
      text-align: center;
    }

    li a {
      /* display: block;   */
      color: white;
      text-align: center;
      align-items:center;
      /* padding: 14px  16px;   */
      /* display:'flex'; */
      text-decoration: none;
    }

    li a:hover {
      background-color: yellow;
    }
    
  </style>
</head>
<body>
      
  <h1><p style="text-align: center;">All Members</p></h1>

  <p id="notice"><%= notice %></p>

  <p>User Name:- <%= @user.name%> </p>
  <p>User Id:- <%= @user.id%></p>

  <table border="2", color ="white">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Address</th>
        <th>Date Of Birth</th>
        <th>Gender</th>
        <th>Role</th>
        <th colspan="4">Operations</th>
      </tr>
    </thead>

    <tbody>
      <% @members.each do |member| %>
      <tr>
        <td><%= member.name %></td>
        <td><%= member.email %></td>
        <td><%= member.contact_number %></td>
        <td><%= member.address %></td>
        <td><%= member.date_of_birth %></td>
        <td><%= member.gender %></td>
        <td><%= member.role %></td>
        <td><%= link_to 'Show', show_member_path(member) ,class:"btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_user_member_path(@user,member),class:"btn btn-primary" %></td>
        <td><%= link_to 'Book Metro', metro_services_path,class:"btn btn-primary" %></td>
        <td><%= button_to( "Remove", user_member_path(@user,member), method: :delete ,class:"btn btn-danger") %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</body>
</html>
















