<p id="notice"><%= notice %></p>

<h4><%= link_to 'Edit Member Details', edit_user_member_path %>  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= link_to 'Members Home Page', user_members_path %></h4>

<p> Name :-  <%= @member.name %></p>
<p> Email :-  <%= @member.email %></p>
<p> Contact Number :-  <%= @member.contact_number %></p>
<p> Address :-  <%= @member.address %></p>
<p> DOB :-  <%= @member.date_of_birth %></p>
<p> Gender :-  <%= @member.gender %></p>
<p> Role :-  <%= @member.role %></p>


